* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}
